<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
  <title>
    <ui:insert name="title">title</ui:insert>
  </title>
  <h:outputStylesheet library="css" name="base.css"/>
  <h:outputScript library="js" name="jquery-2.1.1.min.js"/>
  <ui:insert name="additionalHeaderInfo"/>
</h:head>
<h:body>
  <f:view>
    <h:form>
      <ui:insert name="mainContents">

      </ui:insert>
    </h:form>
  </f:view>
</h:body>
</html>

