<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<ui:composition template="/baseTemplate.xhtml">
  <ui:define name="title">Items - Scheisse</ui:define>
  <ui:define name="additionalHeaderInfo"/>
  <ui:define name="mainContents">
    <h1>
      Items
    </h1>
    <table>
      <thead>
      <th>Name</th>
      <th>Type</th>
      </thead>
      <c:forEach
        items="#{itemList.items}"
        var="current">
        <tr>
          <td>
            <h:commandLink value="#{current.name}" action="#{item.show}">
              <f:param name="id" value="#{current.id}"/>
            </h:commandLink>
          </td>
          <td>
            <h:outputText value="#{current.types}"/>
          </td>
        </tr>
      </c:forEach>
    </table>
  </ui:define>
</ui:composition>
</html>

