<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="./baseTemplate.xhtml">
  <ui:define name="title">Registrieren - Scheisse</ui:define>
  <ui:define name="additionalHeaderInfo"/>
  <ui:define name="mainContents">
    <h:inputText value="#{register.name}"></h:inputText>
    <br/>
    <h:inputText value="#{register.email}"></h:inputText>
    <br/>
    <h:inputSecret value="#{register.password}"></h:inputSecret>
    <br/>
    <h:commandLink action="#{register.register}" value="registrieren">
    </h:commandLink>
  </ui:define>
</ui:composition>
</html>

