<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<ui:composition template="/baseTemplate.xhtml">
  <ui:define name="title">Item - Scheisse</ui:define>
  <ui:define name="additionalHeaderInfo"/>
  <ui:define name="mainContents">
    <h1>
      <h:outputText value="#{user.selected.name}"/>
    </h1>
    <table>
      <tr>
        <td>id</td>
        <td>
          <h:outputText value="#{user.selected.id}"/>
        </td>
      </tr>
      <tr>
        <td>email</td>
        <td>
          <h:outputText value="#{user.selected.email}"/>
        </td>
      </tr>
      <tr>
        <td>experience</td>
        <td>
          <h:outputText value="#{user.selected.experience}"/>
        </td>
      </tr>
    </table>
    <h2>Inventory</h2>
    <table>
      <thead>
      <th>Item</th>
      <th>Amount</th>
      </thead>
      <c:forEach items="#{user.slots}" var="slot">
        <tr>
          <td>
            <h:commandLink value="#{slot.item.name}" action="#{item.show}">
              <f:param name="id" value="#{slot.item.id}"/>
            </h:commandLink>
          </td>
          <td>
            <h:outputText value="#{slot.amount}"/>
          </td>
        </tr>
      </c:forEach>
    </table>
  </ui:define>
</ui:composition>
</html>
